<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buttering.roler">

    <!-- wirtten hyunsung -->
    <!-- 유저 퍼미션 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 카메라 연동, 외부저장소 쓰기 열기를 위한 퍼미션 추가 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 파인로케이션 액세스 (GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 코스 로케이션 액세스 (Cell-ID/WiFi) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buttering.roler.RoleActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buttering.roler.RoleActivity" />
        </activity>
        <activity android:name=".LogInActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".RoleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buttering.roler.PlanActivity" />
        </activity>
        <activity android:name=".EditRoleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buttering.roler.RoleActivity" />
        </activity>

        <activity android:name=".ModifyActivity"></activity>

        <activity android:name=".DayActivity"></activity>

        <!-- 네이버 아이디로 로그인에서 사용하는 액티비티를 등록 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
    </application>

</manifest>