<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.buttering.roler">

    <!-- 유저 퍼미션 추가 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_roler"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/NoAppBarTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buttering.roler.role.RoleActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".plan.PlanActivity"
            android:theme="@style/NoAppBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buttering.roler.role.RoleActivity"/>
        </activity>
        <activity
            android:name=".login.LogInActivity"
            android:theme="@style/NoAppBarTheme">
        </activity>
        <activity
            android:name=".signup.SignUpProfileActivity"
            android:theme="@style/NoAppBarTheme">
        </activity>
        <activity
            android:name=".role.RoleActivity"
            android:label="My Page"
            android:theme="@style/AppTheme">
            <meta-data android:name="com.google.android.gms.version"
                       android:value="@integer/google_play_services_version" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buttering.roler.plan.PlanActivity"/>
        </activity>
        <activity android:name=".role.EditRoleActivity"
                  android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.buttering.roler.role.RoleActivity"/>
        </activity>
        <activity android:name=".ModifyActivity"/>

        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"/>
        <activity android:name=".signup.SignUpActivity"/>
        <activity android:name=".setting.SettingActivity">
        </activity>

        <activity android:name=".timetable.BaseActivity"/>

        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent" />

        <service android:name=".fcm.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".fcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>